.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(192, 192, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80vw;
  min-height: 60vh;
  border-radius: 20px;
  padding: 15px
}

 .icon-container {
  width: 200px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

/*Next Button*/

a {
  margin: 5px;
}

/* Modal */

.contered{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #000000;
  border-radius: 20px;
  padding: 20px;
}
