<h1>GAME NIGHT</h1>
<div class="container">
  <div class="header">
    <div class="icon-container">
      <span class="material-symbols-outlined">touch_app</span>
    </div>
    <p>Carta numero {{ cardNumber + 1 }} di {{ total }}</p>
  </div>
  <div class="body">
    <p>{{granted}}</p>
    <h2>PERÒ</h2>
    <p>{{condition}}</p>
  </div>
  <div id="buttons">
    <button (click)="chooseById(cardNumber - 1)" class="myButton"><i class="fa-solid fa-arrow-left"></i></button>
    <button routerLink="/" class="myButton2"><i class="fa-solid fa-house"></i></button>
    <button (click)="renderNextPrompt()" class="myButton2"><i class="fa-solid fa-shuffle"></i></button>
    <button (click)="chooseById(cardNumber + 1)" class="myButton"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>
